@charset "UTF-8";
/*
    em HTML é 'id',     em CSS é '#'
    em HTML é 'class',  em CSS é '.' 
    */

body {
    background-color: rgb(205, 255, 203);
}

h1 {
    color: rgb(23, 138, 23);
}

h1#principal {
    text-align: center;
    color: white;
    background-color: rgb(21, 116, 21);
}

h2 {
    color: rgb(6, 26, 6);
}

.basico {
    color: rgb(31, 151, 31);
}

.intermediario {
    color: rgb(151, 143, 31);
}

.avancado {
 color: rgb(151, 31, 31);
}